<div class="min-h-svh">
  <app-header class="uppercase" [title]="taskflow" />

  @if ((authService.currentUser$ | async)?.role === 'admin') {
  <app-tabs [value]="selectedTab" (valueChange)="onTabChange($event)" />
  }

  @if (selectedTab === 'my_task') {
  <div class="flex flex-col md:flex-row gap-6 m-5">
    <!-- TO DO -->
    <div class="flex-1">
      <task-board title="to do" (createTask)="openCreateModal()">
        @for (task of (tasks$ | async) ?? []; track task.id) {
        @if (task.status === "todo") {
        <app-task-card [task]="task" (edit)="openEditModal($event)" />
        }
        }
      </task-board>
    </div>

    <!-- ON-GOING -->
    <div class="flex-1">
      <task-board title="In-progress" (createTask)="openCreateModal()">
        @for (task of (tasks$ | async) ?? []; track task.id) {
        @if (task.status === "pending") {
        <app-task-card [task]="task" (edit)="openEditModal($event)" />
        }
        }
      </task-board>
    </div>

    <!-- COMPLETED -->
    <div class="flex-1">
      <task-board title="done" (createTask)="openCreateModal()">
        @for (task of (tasks$ | async) ?? []; track task.id) {
        @if (task.status === 'completed') {
        <app-task-card [task]="task" (edit)="openEditModal($event)" />
        }
        }
      </task-board>
    </div>
  </div>
  }
  @if (selectedTab === 'users') {
  <div>
    Users tab!
  </div>
  }

  <app-task-modal
    [task]="selectedTask"
    [isOpen]="isModalOpen"
    (close)="isModalOpen = false">
  </app-task-modal>
</div>