<div
  class="p-4 rounded-md transition cursor-pointer bg-gray-50"
  (click)="edit.emit(task)">
  <div class="flex items-start justify-between gap-3">
    <div>
      <p class="text-sm font-semibold capitalize" [ngClass]="titleClasses">
        {{ task.title }}
      </p>

      @if (task.description) {
      <p class="text-xs text-gray-500 mt-1">
        {{ task.description }}
      </p>
      } @else {
      <p class="text-xs text-gray-400 mt-1 italic">No description</p>
      }
    </div>

    <select
      class="text-[10px] px-2 py-1 rounded-full font-semibold uppercase cursor-pointer border focus:outline-none"
      [ngClass]="badgeClasses"
      [(ngModel)]="task.status"
      (change)="onStatusChange(); $event.stopPropagation()">
      <option value="todo">To Do</option>
      <option value="pending">In-Progress</option>
      <option value="completed">Done</option>
    </select>
  </div>

  <div class="mt-3 text-[10px] text-gray-400">Updated: {{ task.updatedAt
    }}</div>
</div>
